<div>
  <section class="user_info">
    <%= render 'shared/user_info' %>
  </section>
  </section class="plant_form">
    <%= render 'shared/plant_form' %>
  </section>
</div>
<div>
  <h3>My Plants</h3>
  <%= render 'shared/feed' %>
</div>
