<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title>"Home | Seed Exchange"</title>
  </head>
  <body>
    <h1>Seed Exchange</h1>

    <p>A web app to help communities share seeds and plants for free</p>
  </body>
</html>
