<li class="plant-list">
  <%= plant.name %> (<i><%= plant.name_latin %></i>)
  <% if current_user?(plant.user) %>
    <%= link_to "delete", plant, method: :delete,
                                 data: { confirm: "You sure?" } %>
  <% end %>
</li>
