$bg-color-primary: #fff;
$bg-color-secondary: #222;
$color-primary: #222;
$color-secondary: #fff;
$btn-font-color: #fff;
$btn-bg-color: blue;
$alert-bg-color-danger: #fcc;
$alert-bg-color-success: #cf9;
$alert-bg-color-warning: #ffdb99;
$state-danger-text: red;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  margin: 0;
}
header {
  background-color: $bg-color-secondary;
  color: $color-secondary;
  padding: 1em;
  padding-bottom: 0;
}
#logo {
  font-size: 2em;
}
#title {
  text-align: center;
}
.alert {
  width: 100%;
  border-radius: 3px;
  padding: 1em;
  margin: 1em 0;
  @include box_sizing;
}
.alert-danger {
  background-color: $alert-bg-color-danger;
}
.alert-success {
  background-color: $alert-bg-color-success;
}
.alert-warning {
  background-color: $alert-bg-color-warning;
}
/*
 *
 * NAV
 *
 */

header a,
nav {
  color: currentColor;
  text-decoration: none;
  display: inline-block;
}
nav ul {
  padding: 0;
}
nav li {
  display: inline-block;
  margin-left: 1em;
}

/*
 *
 * MAIN CONTENT
 *
 */

main {
  min-height: 90vh;
  max-width: 90vw;
  margin: auto;
}

/*
 *
 * FOOTER
 *
 */

footer {
  background-color: $bg-color-secondary;
  color: $color-secondary;
  padding: 1em;
}
footer a {
  color: currentColor;
}

/*
 *
 *  COMPONENTS
 *
 */

.btn {
  display: inline-block;
  color: $btn-font-color;
  background-color: $btn-bg-color;
  padding: 1em;
  border-radius: 5px;
  text-decoration: none;
}

input[type="checkbox"] {
  width: auto;
}

/*
 *
 *  FORMS
 *
 */

#form-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

input[type=submit]:hover {
  cursor: pointer;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  color: $state-danger-text;
  .form-control {
    color: $state-danger-text;
    border-color: $state-danger-text;
  }
}

/*
 *
 *  USERS INDEX
 *
 */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
}

/*
 *
 *  DEBUG
 *
 */

.debug_dump {
  clear: both;
  width: 100%;
  margin: 1em auto;
  padding: 5px;
  border: solid 1px #222;
  border-radius: 5px;
  @include box_sizing;
}
