<header>
  <%= link_to "Seed Exchange", "#", id: "logo" %>
  <nav>
    <ul>
      <li><%= link_to "Home",   '#' %></li>
      <li><%= link_to "Help",   '#' %></li>
      <li><%= link_to "Log In",   '#' %></li>
    </ul>
  </nav>
</header>

